# Ports
APP_PORT=3000
MOCK_PORT=3001
POSTGRES_PORT=5432

# URLs for local host usage
APP_URL=http://localhost:3000
MOCK_URL=http://localhost:3001

# URLs for container-to-container communication
APP_URL_DOCKER=http://app:3000
MOCK_URL_DOCKER=http://mock:3001

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=change_me
DB_NAME=payments_db

# App secret
SECRET_KEY=change_me

# Mail
MAIL_USER=change_me@example.com
MAIL_PASSWORD=change_me

#Tests

RUNS=100
PRODUCT_ID=PROD001
TEST_USERNAME=luca-meier
TEST_PASSWORD=cust001
